@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/bebas-neue/bebas-neue-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Crimson Text */
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-semibold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Text";
  src: url("/fonts/crimson-text/crimson-text-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}